<header>
    <h4 style="font-family: Arial;">Welcome to our store</h4>
    <h6 style="font-family: Arial;"><p>Please find our products information below</p></h6>    
  </header>
  <style>
  h4 {text-align: center;}
  h7 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  </style>
  <div class="container" style="background-color:#000000;">
      div {
    }
  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title" style="background-color:#33cc33; font-family: Arial;">Organic Stores</h2>
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <h3 class="card-subtitle mt-3">Products</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr style="background-color:#ffc2b3;">
              <th scope="col">ITEM NO</th>
              <th scope="col">ITEM</th>
              <th scope="col">QUANTITY(lbs.)</th>
              <th scope="col">PRICE($)</th>
              <th scope="col">DELIVERY DATE</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @organic_stores.each do |organic_store| %>
              <tr>
                <td><%= organic_store.ITEMNO %></td>
                <td><%= organic_store.ITEM %></td>
                <td><%= organic_store.QTY %></td>
                <td><%= organic_store.PRICE %></td>
                <td><%= organic_store.DDATE %></td>
                <td>
                  <%= link_to 'Show', organic_store, class: 'btn btn-info btn-sm' %>
                  <%= link_to 'Edit', edit_organic_store_path(organic_store), class: 'btn btn-info btn-sm' %>
                  <%= link_to 'Remove', organic_store, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-sm' %>
                </td>
              </tr>

            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <table>
  <div class="container text-center mt-3"  style="background-color:#000000;" >
    <%= link_to 'Add New Product', new_organic_store_path, class: "btn btn-light" %>
    <b> </b>
    <div style = "position:fixed; left:620px; down:60px;">
      <footer>
        <p><h7>Copyright © 2023: All rights reserved.</h7></p>
      </footer>
    </div>
  </div>
</table>

